<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".Layout_NoMain.Test"
            android:exported="false" />
        <activity
            android:name=".Layout_NoMain.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Layout_NoMain.Web_activity"
            android:exported="false" />
        <activity
            android:name=".Layout_NoMain.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.QLPK_Recyclerview_Activity"
            android:exported="false"
            android:label="Danh sách lịch khám "
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".ActivityinFragmenttaikhoan.DKDV_Activity"
            android:exported="false" />
        <activity
            android:name=".ActivityinFragmenttaikhoan.QDSD_Activity"
            android:exported="false" />
        <activity
            android:name=".ActivityinFragmenttaikhoan.chinhsachbaomat"
            android:exported="false" />
        <activity
            android:name=".Layout_NoMain.ChonGioKham"
            android:exported="false" />
        <activity
            android:name=".DatLichKhamActivity"
            android:exported="false"
            android:label="Đặt lịch khám"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".HDDLActivity"
            android:exported="false" />
        <activity
            android:name=".TTBVActivity"
            android:exported="false" />
        <activity
            android:name=".Layout_NoMain.Recycle_view_DSBS"
            android:exported="true"
            android:label="Danh sách bác sĩ  "
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Fragment_Main.ActivitytoFM"
            android:exported="false" />
        <activity
            android:name=".Admin.MainAdmin"
            android:exported="false" />
        <activity
            android:name=".Admin.UpdateBacsi"
            android:exported="false" />
        <activity
            android:name=".Admin.AddBacSi"
            android:exported="false" />
        <activity
            android:name=".Layout_NoMain.UploadProfilePicActivity"
            android:exported="false"
            android:label="Tải ảnh lên "
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".LoginANDRegister.ForgotPasswordActivity"
            android:exported="false"
            android:label="Quên mật khẩu "
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Layout_NoMain.UserProfileActivity"
            android:exported="false"
            android:label="Trang thông tin "
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginANDRegister.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LoginANDRegister.LoginActivity"
            android:exported="true" />
    </application>

</manifest>